.section {
  position: relative;
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  padding-top: 250px;
  margin-bottom: 170px;
  z-index: 1;
}

.card {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-color: #1f2329;
  border-radius: var(--radius-lg);
  padding: var(--space-5);
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--space-4);
  color: #fff;
}

.tags {
  display: flex;
  gap: var(--space-2);
  margin-top: var(--space-3);
}

.tag {
  background-color: #fff;
  padding: var(--space-2) var(--space-3);
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000;
}

.cta {
  margin-top: var(--space-4);
}

.ctaIcon {
  margin-bottom: 5px;
  margin-right: var(--space-2);
}

.videoContainer {
  position: relative;
}

.video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.videoControls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparentButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.progressRingContainer {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressRing {
  transform: rotate(-90deg);
}

.progressRingCircle {
  transition: stroke-dashoffset 0.35s;
  transform-origin: 50% 50%;
}

.playPauseIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

@media (max-width: 800px) {
  .section {
    padding-top: 400px;
    margin-bottom: 350px;
  }
}
